<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Update Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="quantityGrid">
    <ion-grid fixed="true">
      <ion-row>
        <img src="https://image.flaticon.com/icons/png/512/3132/3132693.png" alt="pizza icon"
          style="width:48px;height:48px;">
        <p>Please enter the number of pizzas: {{numPizzas}}</p>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="appendDigit('1')" expand="block" size="large" strong="true" fill="outline">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('2')" expand="block" size="large" strong="true" fill="outline">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('3')" expand="block" size="large" strong="true" fill="outline">3</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="appendDigit('4')" expand="block" size="large" strong="true" fill="outline">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('5')" expand="block" size="large" strong="true" fill="outline">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('6')" expand="block" size="large" strong="true" fill="outline">6</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="appendDigit('7')" expand="block" size="large" strong="true" fill="outline">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('8')" expand="block" size="large" strong="true" fill="outline">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('9')" expand="block" size="large" strong="true" fill="outline">9</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="resetQuantity()" color="danger" expand="block" size="large">Reset
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="appendDigit('0')" expand="block" size="large" strong="true" fill="outline">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="buyButton()" color="success" expand="block" size="large">Buy
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="optionsGrid">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Toppings: {{selectedTopping.name}} - ${{selectedTopping.price}}</p>
          <ion-list>
            <ion-item *ngFor="let topping of toppings" (click)="selectTopping(topping)">
              {{topping.name}} - ${{topping.price}}
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <p>Sizes: {{selectedSize.name}} - ${{selectedSize.price}}</p>
          <ion-list>
            <ion-item *ngFor="let size of sizes" (click)="selectSize(size)">
              {{size.name}} - ${{size.price}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>